<div class="form-container">
  <h2>
    <img src="assets/images/safebank.png" alt="safebank logo" class="logo" />
    SafeBank
  </h2>

  <div *ngIf="errorMessage" style="color: red; font-size: small;">
    {{ errorMessage }}
  </div>

  <h3>Forgot Password</h3>
 <form *ngIf="forgotPasswordField" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="form login-form">
    <label for="login-email">Email*</label>
    <input
      type="email"
      id="login-email"
      formControlName="email"
      required
      placeholder="Enter Your Registered Email"
    />
    <div *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid" style="color: red; font-size: small;">
      Please enter a valid email.
    </div>

    <button type="submit" class="form-button" [disabled]="forgotPasswordForm.invalid">
      Forgot Password
    </button>
  </form> 
  <form *ngIf="showResetField" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()" class="form login-form"><br>
    <label for="new-password">New Password</label>
    <input
      type="password"
      id="new-password"
      formControlName="newPassword"
      required
      placeholder="Enter New Password"
    />
    <div *ngIf="resetPasswordForm.get('newPassword')?.touched && resetPasswordForm.get('newPassword')?.invalid" style="color: red; font-size: small;">
      Password must be at least 6 characters.
    </div>

    <button type="submit" class="form-button" [disabled]="resetPasswordForm.invalid">
      Reset Password
    </button>
  </form>
  <div *ngIf="successMessage" style="color: green; font-size: medium ;"><br>
    {{ successMessage }} <br>
  </div>
  <a routerLink="/login" class="redirect-form"><p>Click here   to login</p></a>
</div>


