<div class="account-summary-container">
    <h2>Account Summary</h2>
  
    <div class="summary-card">
      <p><strong>Name:</strong> User </p>
      <p><strong>Account No.:</strong> 1234 5678 9012</p>
      <p><strong>Branch:</strong> Chennai </p>
      <p><strong>IFSC Code:</strong> SFBN001234</p>
      <p><strong>Account Type:</strong> Savings</p>
      <p><strong>Available Balance:</strong> ₹2,45,000.00</p>
      <p><strong>Last Login:</strong> 17-Apr-2025, 10:30 AM</p>
    </div>
  
    <h2>Recent Transactions</h2>
    <div class="transactions-table-container">
    <table class="transactions-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let txn of transactions">
          <td>{{ txn.date }}</td>
          <td>{{ txn.description }}</td>
          <td>{{ txn.type }}</td>
          <td>{{ txn.amount }}</td>
          <td>{{ txn.balance }}</td>
        </tr>
      </tbody>
    </table>
</div>
  </div>
  