<div class="account-summary-container">
    <h2>Account Summary</h2>
  
    <div class="summary-card">
      <p><strong>Name:</strong> {{userName}} </p>
      <p><strong>Account No.:</strong> {{accountNumber}} </p>
      <p><strong>Branch:</strong> Chennai </p>
      <p><strong>IFSC Code:</strong> SFBN001234</p>
      <p><strong>Account Type:</strong> Savings</p>
      <p><strong>Available Balance:</strong> {{availableBalance}} </p>
      <p style="color: red;"><strong style="color:  #003366;">Last Login:</strong> {{loginTime}} </p>
    </div>
  
    <h2>Recent Transactions</h2>
    <div class="transactions-table-container">
    <table class="transactions-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let txn of transactions  ">
          <td>{{ txn.date }}</td>
          <td>{{ txn.description }}</td>
          <td>{{ txn.type }}</td>
          <td>{{ txn.amount }}</td>
          <td>{{ txn.balance }}</td>
        </tr>
      </tbody>
    </table>
</div>
  </div>
  

