<div class="user-details-container">
  <div class="user-details">
    <p><strong>Name:</strong> {{userName}} </p>
    <p><strong>Account No.:</strong> {{accountNumber}} </p>
    <p><strong>Account Type:</strong> Savings</p>
    <p><strong>Available Balance:</strong>{{ availableBalance }}</p>
    <p><strong>Interest Rate:</strong> 3.5% p.a.</p>
    <a routerLink="/deposit" class="form-button">Deposite Money</a>
  </div>
</div>

<div class="feature-grid">
  <div class="feature-card" *ngFor="let feature of features" (click)="navigate(feature.route)">
    <div class="icon">
      <img [src]="feature.icon" alt="{{feature.title}} icon" />
    </div>
    <div class="title">{{ feature.title }}</div>
  </div>
</div>
