body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    text-align: center;
    margin-top: 100px;
  }
  
  .construction-img {
    width: 200px;
    max-width: 90%;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    color: #555;
  }
  