<div class="user-profile">
  <div class="profile-header">
    <div class="profile-pic">
      <img src="assets/icons/profile-pic.png" alt="User Profile Picture" class="profile-img"/>
    </div>
    <div class="profile-details">
      <h2>{{userName}}</h2>
      <p><strong>Email:</strong> {{userEmail}}</p>
      <p><strong>Phone:</strong> {{userPhone}}</p>
      <p><strong>Date of Birth:</strong> 01-Jan-1990</p>
    </div>
  </div>

  <div class="account-details">
    <h3>Account Information</h3>
    <p><strong>Account Number:</strong> {{accountNumber}}</p>
    <p><strong>Account Type:</strong> Saving</p>
  </div>

  <div class="address-info">
    <h3>Address</h3>
    <p><strong>Permanent Address:</strong> ABC colony, Chennai, Tamil Nadu, India</p>
    <p><strong>Residential Address:</strong> Same as Home Address</p>
    <h3>Settings & Preferences</h3>
    <p><strong>Language:</strong> English</p>
    <p><strong>Notifications:</strong> Email, SMS</p>
    <p><strong>Time Zone: IST</strong> (India Standard Time)</p>
    <h3>Security Settings</h3>
    <button>Update Password</button>
    <button>Enable Two-Factor Authentication</button>
  </div>

    

  <div class="profile-actions">
    <button (click)="logout()" class="logout-btn">Logout</button>
    <button (click)="closeAccount()" class="delete-btn">Close Account</button>
  </div>

</div>
